@import "./vars";
@import "./mixins";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: black;
}

h1 {
  @include H1Regular
}

p {
  @include TextRegular
}